* {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: #cbc2c2af;
  /* height: 10vh; */
  margin-top: 0;
}

main {
  background-color: #f5f5f5;
  /* height: 80vh; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

li {
  list-style: none;
}

footer {
  background-color: #cbc2c2af;
  /* height: 10vh; */
  text-align: center;
  padding: 5px;
}


img{
  height: 180px;
  width: auto;
}